<div class="ibox-content">

        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Número de telefone</th>
                    <th>Email</th>
                    <th>Cidade</th>
                    <th>Sobre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{walkerModel.name}}</td>
                    <td>{{walkerModel.phone_number}}</td>
                    <td>{{walkerModel.email}}</td>
                    <td>{{walkerModel.location}}</td>
                    <td>{{walkerModel.description}}</td>
                </tr>
            </tbody>
        </table>
    
    </div>