<div class="ibox-content">
    <form name="form" method="get" (submit)="createWalker()" class="form-horizontal">
        <div class="form-group"><label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
              <input id="nomeID" name="nomeName" [(ngModel)]="newWalkerName" type="text" class="form-control" maxlength="255">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input id="emailId" name="emailName" [(ngModel)]="newWalkerEmail" type="text" class="form-control" maxlength="255">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Número de telefone</label>
            <div class="col-sm-10">
              <input id="phoneNumberID" name="phoneNumberName" [(ngModel)]="newWallkerPhoneNumber" maxlength="9" type="text" class="form-control">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Cidade</label>
            <div class="col-sm-10">
              <input id="locationID" name="locationName" [(ngModel)]="newWalkerLocation" type="text" class="form-control" maxlength="255">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Sobre</label>
            <div class="col-sm-10">
              <input id="locationID" name="locationName" [(ngModel)]="newWalkerDescription" type="text" class="form-control" maxlength="3000">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Criar</button>     
    </form>
  </div>