<div class="ibox-content">

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clientModel['clients']">
                <td><a href="javascript:;" (click)="showClient(client)">{{client.name}}</a></td>
                <td>{{client.location}}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" type="button" (click)="createClient()">Criar cliente</button>

</div>